<html>
<head>
    <title>Login</title>
</head>
<body>
{% if authenticated %}
<h1>You are already logged In!</h1>
{% else %}
    {% if valid %}
        <p>Wrong Credentials</p>
    {% endif %}
<form action="" method="POST">{% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
{% endif %}
{% if not authenticated %}
<p>If you are not Registered, Please use demo Id and Pass</p>
<p>Username : 'user1'
    <br />
    Password : 'pass1'
</p>
{% endif %}
</body>
</html>